#containerPrincipal{margin-top: 30px;}

.footer .container p{text-align: center;}

.paginaErro{margin-top: 5%;}
.paginaErro #imgErro img{background: #ccc; margin-left: 25%}
.paginaErro h2, h3{text-align: center;}
.paginaErro h3{padding-bottom: 10%;}